<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>spring-boot groovy gradle webapp</title>
  <!-- without webjars-locator:
  <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/webjars/normalize.css/5.0.0/normalize.css">
  -->
  <!-- using webjars-locator: -->
  <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/webjars/normalize.css/normalize.css">
  <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/app.css">
</head>
<body>
<div id="app">
