.idea/
!*.idea/runConfigurations/*WebApp*.xml
.settings/
.springBeans
.classpath
.project
.cache
.gradle/
bin/
build/
gradle/
target/
.DS_Store
*.iml
*.iws
*.ipr
_ghpages_/
hello-world/
**/dist/*
**/node_modules/*
