.idea/
!*.idea/runConfigurations/*WebApp*.xml
*.iml
*.iws
*.ipr
.DS_Store
.gradle/
build/
gradle/
bin/
.settings/
.springBeans
.classpath
.project
.apt_generated
.factorypath
.settings
.cache
target/
_ghpages_/
hello-world/
**/dist/*
**/node_modules/*
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
